*{
   
    text-decoration: none;

}
header{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    margin: 30px 20px 20px 20px;
    color: aliceblue;
    border-radius: 10px;
}
main{
    padding: 10px;
}
.titulo{
    font-size: 40px;
}
.ponto{
    font-size: large;
}
.pontinho{
    background-color: rgba(255, 255, 0, 0.59);
    color: white;
    border-radius: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}