*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
header{
    display: flex;
    padding :20px;
    background-color: aqua;
    justify-content: space-around;
    margin: 30px 20px 20px 20px;
    color: aliceblue;
    border-radius: 10px;

}
body{
    background-color: rgba(90, 85, 79, 0.144);
}
.titulo{
    font-size: 40px;
}
.ponto{
    font-size: large;
}
.pontinho{
    background-color: rgba(64, 64, 60, 0.59);
    color: white;
    border-radius: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    }
.conteudo{
    padding: 100px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin:100px 80px 0px 80px;
    border-radius: 20px;
}
.questoes{
    background-color: rgba(46, 126, 237, 0.162);
    padding: 30px;
   
}
form{
display: flex;
flex-direction: column;
gap: 40px;
}
.submit{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.616);
    color: white;
    font-size: large;
}
h1{
    font-size: 50px;
    color: rgba(0, 0, 255, 0.707);
}
h2{
    font-size: 30px;
   color: rgba(0, 0, 255, 0.707);
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
li{
    font-size: 20px;
}
a{
    color: black;
}